@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'].appearance-none {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}


.tabler-icon {
  @apply relative mb-0.5 inline-flex self-center;
}

.bg-overlay {
  @apply bg-gray-900/80;
}

.size-mini {
  @apply h-16 w-16;
}

.size-mini-overlay {
  @apply -mt-16 h-16 w-16;
}

.size-normal {
  @apply h-52 w-52;
}

.size-normal-overlay {
  @apply -mt-52 h-52 w-52;
}
